[Unit]
Description=MOB Survival Server
After=network.target local-fs.target
Wants=firewalld.service

[Service]
Type=forking
WorkingDirectory=/home/minecraft/mob-servers/survival
ExecStart=/opt/minecraft/survival start
ExecStop=/opt/minecraft/survival stop
User=minecraft
Group=minecraft
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
